<div class="col-lg-8">
  <h1><%= @article.title %></h1>
  <hr>
  <p><span class="glyphicon glyphicon-time"></span> Posted on <%= @article.created_at %></p>
  <hr>
  <p class="lead"><%= @article.content %></p>
  <hr>
</div>
